@import "variables";
@import "fonts";
@import "buttons";


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

.hero {
  background-image: url("../images/hero-bg.png");
  background-position: 100% center;
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
  overflow: hidden;
  padding-bottom: 93px;

  &__block {
    padding-top: 326px;
    display: flex;
    @media screen and ($max-sm) {
      padding-top: 150px;
    }

    &_main {
      display: flex;
      flex-direction: column;
      width: 100%;

      &_title {
        font-family: 'Banny Round', sans-serif;
        font-size: 96px;
        margin: 0 auto;

        @media screen and ($max-sm) {
          font-size: 70px;
        }
        @media screen and ($max-xs) {
          font-size: 50px;
        }
      }

      &_subtitle {
        font-family: 'Banny Round', sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5em;
        margin: 0 auto;
      }
    }

    &_buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px 0;

      &_yellow {
        background: #E8C300;
      }

      &_transparent {
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }

    &_button-down {
      padding-top: 52px;
    }

    &_icons {
      display: flex;
      flex-direction: column;
      text-align: right;
      max-width: 60px;

      min-height: 220px;

      img {
        padding: 10px 0;
        width: 60px;
        transition-duration: 0.2s;

        &:hover {
          transform: scale(0.95);
          text-decoration: none;

          &:before {
            width: 100%;
          }
        }

        @media screen and ($max-sm) {
          width: 45px;
        }
      }
    }
  }
}

.about-us {
  overflow: hidden;
  padding: 70px 0 70px;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and ($max-md) {
      flex-wrap: wrap;
    }
  }
}


.block {
  display: flex;

  &_header {
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 12px;
    padding-bottom: 10px;
  }

  &__info {
    font-family: "Open Sans", sans-serif;
    max-width: 600px;
    min-height: 180px;
    text-align: center;
    margin: 0 auto;


    &_title {
      font-family: "Banny Round", sans-serif;
      font-size: 36px;
    }

    &_subtitle {
      font-weight: bold;
      padding: 15px 0 30px;
    }

    &_form {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      @media screen and ($max-sm) {
        flex-wrap: wrap;
      }

      &_column {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
      }

      &_input {
        max-width: 277px;
        width: 100%;
        height: 60px;
        background-color: #E5E5E5;
        border-radius: 5px;
        border: none;
        margin: 5px auto;
        padding: 10px 20px;
      }
    }
  }

  &__image {
    max-width: 600px;
    @media screen and ($max-sm) {
      flex: 0 0 100%;
      width: 50%;
      height: 50%;
    }
  }
}

.masterchef {
  padding: 50px 0 70px;
  background-image: url("../images/master-chef_bg.png");
  background-position: 100% center;
  background-size: cover;

  color: white;

  &__block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    @media screen and ($max-md) {
      flex-wrap: wrap;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.booking-form {
  display: flex;
  padding: 50px 0 70px;
  overflow: hidden;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and ($max-md) {
      flex-wrap: wrap;
    }

    &_wrapper {
      text-align: center;
    }
  }

  &_bottom {
    padding-top: 20px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
  }
}

.specialties {
  padding: 50px 0 70px;
  background-image: url("../images/specialties-bg.png");
  background-position: 100% center;
  background-size: cover;
  color: white;

  &__block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    @media screen and ($max-md) {
      flex-wrap: wrap;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.menu {
  padding: 100px 0;

  &__block {
    text-align: center;
    max-width: 565px;
    width: 100%;
    margin: 0 auto;

    &_inner {
      font-family: 'Banny Round', sans-serif;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 20px;
    @media screen and ($max-sm) {
      flex-wrap: wrap;
    }

    &_item {
      text-align: center;
      width: 120px;
      height: 50px;
      padding: 10px;
      color: black;
      text-decoration: none;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      transition-duration: 0.3s;
      margin: 0 auto;
      @media screen and ($max-sm) {
        border-right: none;
        border-bottom: 3px double rgba(51, 51, 51, 0.2);
      }

      &:last-child {
        border: none;
        @media screen and ($max-sm) {
          border-bottom: 3px double rgba(51, 51, 51, 0.2);
        }
      }

      &:hover {
        text-decoration: none;
        color: black;
        font-size: 18px;
      }
    }
  }

  &__positions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 5px;

    &_item {
      display: flex;
      flex-wrap: wrap;
      max-width: 360px;
      width: 100%;
      min-height: 66px;
      margin: 0 auto;
      padding-bottom: 20px;

      &-title, &-price {
        font-weight: bold;
        font-size: 18px;
        padding: 0 5px;
      }

      &-description {
        font-weight: 300;
        padding: 0 5px;
      }
    }
  }
}

.events {
  background-image: url("../images/events_bg.png");
  background-position: 100% center;
  background-size: cover;
  color: white;
  padding: 50px 0 70px;
  overflow: hidden;


  &_bottom {
    padding-top: 20px;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  &__block {

    &_item {
      flex: 0 0 50%;
      @media screen and ($max-md) {
        flex: 0 0 100%;
      }
    }

    &_inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &_image {
      max-width: 600px;
      width: 100%;
    }
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &_img {
    width: 100%;
  }

  &_item {
    flex: 0 0 25%;
    @media screen and ($max-sm) {
      flex: 0 0 50%;
    }
    @media screen and ($max-xxs) {
      flex: 0 0 100%;
    }
  }
}

.contact-form {
  padding: 100px 0;
  text-align: center;

  &__block {
    justify-content: center;

    &_form {
      display: flex;
      flex-direction: column;

      &-bottom {
        display: flex;
        justify-content: center;
        @media screen and ($max-md) {
          flex-wrap: wrap-reverse;
        }
      }

      &-input {
        display: flex;
      }
    }

    &_title {
      max-width: 565px;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }
  }

  &__input {
    max-width: 420px;
    width: 100%;
    margin: 5px;
  }

  &__textarea {
    max-width: 1280px;
    width: 99%;
    height: 120px;
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 15px 20px;
  }

  &__button {
    max-width: 640px;
    width: 100%;
    flex: 0 0 50%;
    @media screen and ($max-md) {
      flex: 0 0 100%
    }
  }

  .fa-envelope, .fa-phone,
  .fa-map-marker-alt {
    color: #E8C300;
    padding: 3px;
  }

  &__contacts {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 0 0 50%;
    font-size: 12px;
    max-width: 640px;
    width: 100%;
    padding: 5px;
    @media screen and ($max-md) {
      flex: 0 0 100%
    }

    &_item {
      padding: 10px 5px;
      margin: 0 auto;
    }
  }
}